body {
    color: #475053;
    background-color: #f0fbff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#Caja_encabezado{
    background-color: #acdcee;
}

#Texto_Cuerpo {
    text-align: justify;
}

#Texto_Cuerpo > h1{
    color:#ACDCEE;
    text-align: center;
}

#Cuadrado_Final {
    text-align: center;
    background-color: #ecf2f9;
    padding: 1px;
}

#Cuadrado_Final > h4 {
    color:#ACDCEE;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
a:link {
    color: #475053;
}
  
a:visited {
    color: #475053;
}

.Tabla_Imagen{
    background-color: #ecf2f9;
    float:right;
    text-align: center;
    text-size-adjust: 50%;
    margin-top: 53px;   
    margin-left: 20px;
}

.Imagen {
    width: 40%;
    border: 1px solid #1B4F72;
    margin-top: 5px;
    float: right;
}

.Imagen_Integrantes {
    width: 220px;
    border: 1px solid #1B4F72;
    margin-top: 5px;
    float: right;
}

.Logotipos {
    width: 5%;
    margin-top: 5px;
    float: left;
}

.Menú  {
    border: 2px solid #a4d6e8;
    background-color: #a4d6e8;
    padding: 5px;
    display: inline;
    float: left;
    color: #2e94b9;
}

.Palabra_menú  {    
    color: #475053;
}

.Encabezado  { /*Sirve para dar el fondo y espacio que se ve en el encabezado junto al menú*/
    border: solid #acdcee; 
    border-top: 1px; 
    border-bottom: 1px;
    text-align: center;
    color: #2e94b9;
}

p {
    font-size: 110%;
    color:#2c3335;
}